@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #0F172A;
    --card: #F8FAFC;
    --card-foreground: #0F172A;
    --border: #E2E8F0;
    --primary: #3B82F6;
    --primary-foreground: #FFFFFF;
    --muted: #F1F5F9;
    --muted-foreground: #64748B;
  }


  .dark {
    --background: #0A0F14;
    --foreground: #D1D5DB;
    --card: #1C2129;
    --card-foreground: #D1D5DB;
    --border: #2D3748;
    --primary: #444C56;
    --primary-foreground: #FFFFFF;
    --muted: #2D3748;
    --muted-foreground: #A0AEC0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }
}